:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #797979;

    --primary1-color: #038CD4;
    --primary2-color: #F73B16;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    line-height: 1.4rem;
}

@keyframes fadeIn {
    from {
        width: 90px;
    }
    to {
        width: 166px;
    }
}
